<div class="row justify-content-md-center">
    <div class="col-8">
        
        <form method="POST">
            <div class="form-group">
              <label for="partID">Name</label>
              <input type="text" class="form-control" id="Name" aria-describedby="Name" 
              name="Name" placeholder="Enter Name" value="<%= business.Name %>"
              required>
            </div>

            <div class="form-group">
                <label for="name">Conact Number</label>
                <input type="text" class="form-control" id="Conact" aria-describedby="Conact" 
                name="Conact" placeholder="Enter Phone Number"  value="<%= business.Conact %>"
                required>
              </div>
              
              <div class="form-group">
                <label for="description">Address</label>
                <textarea class="form-control" id="Email" rows="3"
                name="E-mail" placeholder="Enter E-mail" 
                required><%= business.Email %></textarea>
              </div>
            
            
            <button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-edit"></i> Update Contact</button>
            <a href="/business-list" class="btn btn-warning btn-lg"><i class="fas fa-undo"></i> Cancel</a>
          </form>

    </div>
</div>